:root {
  --white: #fafafa;
  --text-dark: #333333;
  --text-light: #a9a9a9;
  --text-midlight: #767676;
  --text-green: #539165;
  --teal: #569daa;
  --red: #f45050;

  --header-border: #d9d9d9;

  --rd-sm: 4px;
}

// MIXINs
@mixin Brand() {
  font: 700 24px "Poppins";
  line-height: 36px;
}
@mixin SectionTitle() {
  font: 600 22px "Poppins";
  line-height: 33px;
}
@mixin SubsectionTitle() {
  font: 500 18px "Poppins";
  line-height: 27px;
  color: var(--text-light);
}
@mixin Badge() {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 400 16px "Poppins";
  line-height: 24px;
  color: var(--text-dark);
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #e9e9e9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;

  @media (min-width: 1200px) {
    padding: 0;
  }
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--header-border);
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;

    .brand {
      @include Brand();
    }
    .navbar-inner {
      display: flex;
      gap: 50px;
    }
    .user-profile {
      display: flex;
      align-items: center;
      button {
        display: flex;
        align-items: center;
      }
      .user-profile-img {
        max-width: 48px;
        aspect-ratio: 1 / 1;
        margin-left: 10px;
      }
    }
  }
}

.todo-view {
  padding-top: 180px;
  h1 {
    @include SectionTitle();
    margin-bottom: 15px;
  }
  .single-member-tasks {
    display: grid;
    gap: 15px;
    h3 {
      @include SubsectionTitle();
    }

    .task-item {
      display: flex;
      gap: 15px;
      background-color: var(--white);
      padding: 15px;
      border-radius: var(--rd-sm);
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
      transition: all 0.15s;
      &:hover {
        box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
        transform: translateY(-10px);
      }
      .task_item-inner {
        width: 100%;
        display: grid;
        gap: 10px;
      }
      img {
        max-width: 48px;
      }
      .task_item-header {
        display: flex;
        align-items: start;
        justify-content: space-between;
        h5 {
          font-weight: 500;
        }
        input {
          position: relative;
        }
      }

      .task_item-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          color: var(--text-light);
        }

        .badges-container {
          display: flex;
          gap: 10px;
        }
      }
    }
  }
}

.badge {
  @include Badge();
  padding: 5px 30px;
  border-radius: var(--rd-sm);
  &.team-badge {
    color: var(--text-midlight) !important;
    background-color: rgba($color: #767676, $alpha: 0.1);
  }
  &.category-badge {
    color: var(--teal) !important;
    background-color: rgba($color: #569daa, $alpha: 0.1);
  }
  &.urgent-badge {
    color: var(--red) !important;
    background-color: rgba($color: #f45050, $alpha: 0.1);
  }
}
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  border-radius: var(--rd-sm);
}
// Utils
.font-medium {
  font-weight: 500;
}
.text-sm {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.text-light {
  color: var(--text-light);
}
.text-midlight {
  color: var(--text-midlight);
}
.text-dark {
  color: var(--text-dark) !important;
}

// AddTask.vue
.add-task {
  min-height: 70px;
  border-radius: var(--rd-sm);
  background: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  &:hover {
    background-color: var(--text-midlight);
    color: var(--white);
    svg path {
      fill: var(--white);
    }
  }
}

dialog {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
  section {
    min-width: 460px;
    button {
      display: flex;
      &:hover {
        background-color: var(--header-border);
      }
      svg.close-btn {
        transform: rotateZ(45deg);
        width: 22px;
        height: 22px;
      }
    }
    background-color: var(--white);
    border-radius: var(--rd-sm);
    .modal-header,
    .modal-body {
      padding: 15px;
      display: grid;
      gap: 30px;
    }
    .modal-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--header-border);
      h4 {
        font-weight: 500;
      }
    }
  }
}

.input-group {
  width: 100%;
  &.row {
    display: grid;
  }
  &.column {
    display: flex;
  }
  &.col-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  &.bottom {
    display: flex;
    align-items: end;
  }

  gap: 5px;
  input:not(input[type="radio"]),
  select {
    width: 100%;
    border: 1px solid var(--header-border);
    min-height: 45px;
    padding: 0 10px;
    border-radius: var(--rd-sm);
    outline: none;
    font-size: 14px;
    line-height: 21px;
    &::placeholder {
      color: var(--text-light);
      transition: padding 0.15s;
    }
    &:focus {
      box-shadow: inset 0 0 7px rgba($color: #000000, $alpha: 0.2);
      &::placeholder {
        padding-left: 7px;
      }
    }
  }
  select {
    text-transform: capitalize;
    padding: 0 10px;
  }
}

.checkbox {
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: var(--rd-sm);
  border: 1px solid var(--header-border);
  gap: 5px;
  img {
    width: 32px;
  }
  &:has(input[type="radio"]:checked) {
    border-color: var(--text-green);
  }
  input[type="radio"] {
    position: absolute;
    top: 7px;
    right: 7px;
  }
}

input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid var(--text-light);
  border-radius: var(--rd-sm);
  cursor: pointer;
  &:checked {
    border-color: var(--text-green);
    &::after {
      content: "\2713";
      font-size: 32px;
      position: absolute;
      top: -10px;
      left: -1px;
      color: var(--text-green);
      transform: rotateZ(5deg);
    }
  }
}

// SwitchButton.Vue
.switch-button {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border-radius: var(--rd-sm);

  &.Urgent {
    background-color: rgba($color: #f45050, $alpha: 0.1);
    p {
      color: var(--red);
    }
    svg path {
      fill: var(--red);
    }
    &:hover {
      background-color: rgba($color: #f45050, $alpha: 0.2);
    }
  }
  &.NonUrgent {
    background-color: rgba($color: #539165, $alpha: 0.1);
    p {
      color: var(--text-green);
    }
    svg path {
      fill: var(--text-green);
    }
    &:hover {
      background-color: rgba($color: #539165, $alpha: 0.2);
    }
  }
  p {
    color: var(--text-midlight);
  }
  svg {
    width: 24px;
  }
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.modal-enter-active {
  animation: FadeInModal 0.5s;
}

// No need to leave state
// .modal-leave-active {
//   animation: FadeOutdal 0.5s;
// }

@keyframes FadeInModal {
  0% {
    scale: 0;
  }
  75% {
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}
